<div class="relative">
	<label for="@Id" 
			class="block text-sm mb-2">
		@Label
	</label>
	<input type="@GetInputType()" 
			id="@Id" 
			@bind="CurrentValue"
			class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400" 
			placeholder="@Placeholder" />
	@if(!string.IsNullOrEmpty(m_ErrorMessage))
	{
		<span class="absolute text-red-500 text-xs mt-1 error-msg">@(m_ErrorMessage) </span>
	}
</div>

@code {

}
